<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="vendors/angular.min.js" charset="utf-8"></script>
  <script src="scripts/client.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/vendors/bootstrap-theme.min.css">
  <link rel="stylesheet" href="views/style.css">

  <title></title>
</head>


<body>
  <div ng-controller="ControllerOne as co" ng-init="ai.getAssignments()">
    <input type="text" value="" , ng-model="co.movieInput" placeholder="Movie Title">
    <button ng-click="co.searchOmdb()">Submit</button>
    <div class="container row">
      <h3>Search Results</h3>
      <!-- {{ai.assignmentArray}} -->
      <div class="col-sm-3" ng-repeat="thing in co.movieArray">
        <p></p>
      </div>
    </div>
    <!-- end of container one -->


    <div ng-controller="ControllerTwo as ct" ng-init="ai.getAssignments()">
    </div>
    <!-- end of container two -->
</body>

</html>
